* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, a {
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
}

/*----------------NAVIGATION------------*/
nav ul {
  right: 0;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding-top: 4px;
  z-index: 100;
  position: absolute;
}

nav ul li {
  list-style: none;
  color: white;
  padding-top: 10px;
  font-size: 110%;
  letter-spacing: 0px;
}

#calltoa {
  background-color: #44D9A0;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 11px;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  margin-top: 4px;
}

#hideshow {
  position: relative;
  background-color: #44D9A0;
  margin: auto;
  padding: 9px;
  width: 150px;
  border-radius: 11px;
  color: black;
  box-shadow: 0 10px 20px #1c1f1d;
  z-index: 10;
}

#logo {
  position: absolute;
  color: white;
  float: left;
  padding: 12px;
  font-size: 30px;
  z-index: 100;
}

/*BURGERMENU*/
.mobileMenu {
  display: none;
  z-index: 10;
  background-color: black;
  opacity: 0.95;
  padding: 50px 0 50px 0;
  width: 100%;
  height: 230px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.mobileMenu {
  font-size: 1.3em;
}

nav a{
  color: white;
}

nav a:hover {
  border-bottom: white 3px solid;
}


#burgermenu {
  width: 48px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

#burgermenu span {
  display: block;
  position: relative;
  background: white;
  border-radius: 9px;
  height: 5px;
  width: 100%;
  left: 0;
}

#calltoa {
  display: none;
}

#booking {
  height: 80vh;
  width: 95%;
  margin: 0 5px 0 5px;
  border: none;
  padding-top: 20px;
  padding-bottom: 40px;
}

/*-----------HEADERSECTION-----------*/
.bluesection {
  background-color: #1989B2;
  width: 100%;
  color: white;
  text-align: center;
}

.bluesection h1 {
  font-size: 1.5em;
  padding-top: 70px;
}

.bluesection p {
  padding: 20px 0 20px 0;
}

.bluebottom {
  display: inherit;
  height: 50px;
  margin-top: -0.6px;
    background-color: #1989B2;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
}

.bluetop {
    display: inherit;
  height: 50px;
  background-color: #1989B2;
  margin-bottom: -0.8px;
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
}

.bluesectionheader {
  background-color: #1989B2;
  width: 100%;
  height: 280px;
  color: white;
  text-align: center;
}

.bluesectionheader h1 {
  font-size: 1.5em;
  padding-top: 70px;
}

.bluesectionheader p {
  padding: 20px 0 20px 0;
}

/*-----------footer-----------*/
footer {
  width: 100%;
  height: 200px;
  padding-bottom: 50px;
  background-color: #1989B2;
  display: flex;
}

footer div {
  display: flex;
  padding-top: 5%;
  width: 80%%;
  color: white;
  font-size: 15px;
flex-wrap: wrap;
padding-left: 15px;
justify-content: space-around;
margin: auto;
}

footer div div {
  width: 35%;
  flex-direction: column;

}

footer h3 {
  padding-bottom: 5px;
  position: relative;
  text-align: left;
}

footer h3:before {
  content: "";
  position: absolute;
  width: 15px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid white;
}

footer a {
  color: white;
}

footer ul {
  list-style-type: none;
  text-align: left;
}

#some {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 50px;
  margin: auto;
  background-color: #1989B2;
  border-top: white solid 2px;
}

#links {
  display: flex;

}

#some img {
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/*----------------Elementer til siden-------------*/
#ydelser {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.arrowdown {
  color: #1989B2;
  font-size: 30px;
  transform: rotate(90deg);
  margin-top: 40px;
  margin-bottom: 40px;
}

#smalltext {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

#ydelser h3 {
  color: #1989B2;
}

#ydelser div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

#ydelser img {
  padding: 10px;
  width: auto;
  height: 100px;
}

#dnastring {
  display: none;
}

/*PRISER*/
#skubud {
  margin: auto;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #1989B2;
  color: white;
  font-size: 25px;
  padding: 6px;
  text-align: center;
  border-radius: 11px;
  box-shadow: 0 5px 10px #1c1f1d;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

#priser {
  display: none;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
}

#priser h3 {
  color: #1989B2;
}

/*OM FLEMMING*/
#flemmingsection {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

#flemmingsection p {
  font-size: 16px;
  text-align: left;
  padding-top: 10px;
}

#flemmingsection ul li {
  text-align: left;
  list-style: none;
  padding-top: 10px;
}

.uber {
  text-align: left;
  color: #1989B2;
  padding-top: 20px;
  padding-bottom: 10px;
}

#flemmingandry {
  margin: auto;
  width: 100%;
}

#line {
  height: 3px;
  margin: 20px 0 20px 0;
  background-color: #1989B2;
}

#map {
  display: none;
}

#facebooklink {
  padding: 30px 0 20px 0;
  letter-spacing: 2px;
  text-decoration: none;
}

.fed {
  font-weight: bolder;
}

h4 a {
  color: black;
}

.bluetext {
  font-weight: bolder;
  color: #1989B2;
  letter-spacing: -2px;
}

/*BOOKING*/
.afbud {
  font-size: 13px;
}

h5 {
  font-size: 20px;
}

/*Kunderne siger*/
.billedet {
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.pics {
  width: 80%;
  padding-bottom: 5px;
}

.slideknap {
  border: none;
  font-size: 40px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/*SoMe*/
.social {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}

/*------------------------TABLET----------------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #calltoa {
    display: flex;
  }

  #calltoa a {
    color: black;
  }

  #burgermenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    background-color: inherit;
    padding: 5px;
    width: 50%;
    align-items: flex-start;
    font-size: 17px;
    margin-top: 8px;
  }

  #hideshow {
    display: none;
  }

  .flexboxx {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #dnastring {
    position: absolute;
    padding-top: 35px;
    display: flex;
    height: 50%;
    width: 10%;
    opacity: 0.8;
  }

  #ydelser {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .arrowdown {
    display: none;
  }

  #ydelser div {
    width: 34%;
    padding-top: 65px;
  }

  #flemmingandry {
    margin: auto;
    width: 50%;
  }

  /*---------------------------Tablet footer-------------------------*/
  footer div {
    font-size: 15px;
    width: 100%;
    padding-left: 30px;
  }

  footer div div {
    width: 20%;
  }

  #some {
    width: 95%;
}

  /*TABLET OM FLEMMING*/
  #flemmingsection {
    flex-direction: row;
    width: 95%;
  }

  #flemmingsection div {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #flemmingandry {
    width: 100%;
  }

  #biografi {
    Order: -1;
  }

  #line {
    height: 3px;
    margin: 20px 0 20px 0;
    background-color: #1989B2;
  }

  /*TABLET KUNDENE SIGER*/
  .billedet {
    margin: auto;
    flex-direction: row;
    align-items: center;
  }

  .pics {
    width: 40%;
    padding-bottom: 5px;
  }
}

/*---------------------------DESKTOP-------------------------*/
@media only screen and (min-width: 1024px) {
  #calltoa {
    display: flex;
  }

  #calltoa a {
    color: black;
  }

  #burgermenu {
    display: none;
  }

  .bluesectionheader {
    height: 200px;
  }

  .mobileMenu {
    display: flex;
    background-color: inherit;
    padding: 5px;
    width: 40%;
    align-items: flex-start;
  }

  .flexboxx {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #dnastring {
    position: absolute;
    padding-top: 35px;
    display: flex;
    height: 50%;
    width: 10%;
    opacity: 0.8;
  }

  #ydelser {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .arrowdown {
    display: none;
  }

  #ydelser div {
    width: 34%;
    padding-top: 65px;
  }

  #hideshow {
    display: none;
  }

  footer {
    height: 300px;
    width: 50%;
  }

  footer div {
    padding-left: 30px;
  }


  footer h3, footer li {
    font-size: 20px;
  }

  #map {
    display: inline-block;
    width: 45%;
    height: 230px;
    position: absolute;
    right: 5%;
    background-color: #1989B2;
    padding-top: 46px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
    margin: 0;
    text-align: left;
  }

  #bluemini {
    display: inline-block;
    position: absolute;
    background-color: #1989B2;
    right: 0;
    height: 350px;
    width: 10%;
  }

  /*ABOUT FLEMMING DESKTOP*/
  #flemmingsection {
    flex-direction: row;
    justify-content: center;
    width: 95%;
  }

  #flemmingandry {
    width: 347px;
  }

  #centerflemming {
    display: flex;
    justify-content: center;
  }

  #flemmingsection div {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 450px;
  }

  #biografi {
    Order: -1;
  }

  #biografi ul {
    margin-bottom: 25px;
  }

  #line {
    height: 3px;
    margin: 20px 0 20px 0;
    background-color: #1989B2;
  }

  .social {
    max-width: 1024px;
    margin: auto;
  }

  /*Kunderne siger DESKTOP*/
  .billedet {
    margin: auto;
    flex-direction: row;
    align-items: center;
    width: 60%;
  }

  .pics {
    width: 40%;
    max-width: 400px;
    padding-bottom: 5px;
  }
}
