* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4,h5, h6, p, ul, a {
font-family: 'Lato', sans-serif;
text-align: center;
}

/*----------------NAVIGATION------------*/
nav ul {
right: 0;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding-top: 4px;
  z-index: 100;
  position: absolute;
}

nav ul li {
  list-style: none;
  color: white;
  padding-top: 10px;
  font-size: 110%;
  letter-spacing: 0px;
}

#calltoa {
  background-color: #44D9A0;
  padding: 5px;
  border-radius: 11px;
  color: black;
     box-shadow: 0 5px 10px #1c1f1d;
     font-weight: bold;
    margin-top: 4px;
}

#hideshow {
  position: relative;
  background-color: #44D9A0;
  margin: auto;
  padding: 9px;
  width: 150px;
  border-radius: 11px;
  color: black;
   box-shadow: 0 10px 20px #1c1f1d;
   z-index: 10;
}

#logo {
  position: absolute;
  color: white;
  float: left;
  padding: 12px;
  font-size: 30px;
  z-index: 100;
}

/*BURGERMENU*/
.mobileMenu {
  display: none;
  z-index: 10;
  background-color: black;
  opacity: 0.95;
  padding: 50px 0 50px 0;
  width: 100%;
  height: 230px;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.mobileMenu {
  font-size: 1.3em;
}

#burgermenu {
  width: 60px;
  height: 45px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

#burgermenu span{
  display: block;
  position: relative;
  background: white;
    border-radius: 9px;
  height: 7px;
  width: 100%;
  left: 0;
}

#calltoa {
  display: none;
}

#booking {
  height: 80vh;
  width: 95%;
  margin: 0 5px 0 5px;
  border: none;
  padding-top: 20px;
  padding-bottom: 40px;
}

/*-----------HEADERSECTION-----------*/
.bluesection {
background-color: #1989B2;
width: 100%;
color: white;
text-align: center;
}

.bluesection h1 {
font-size: 1.5em;
padding-top: 70px;
}

.bluesection p {
padding: 20px 0 20px 0;
}

.bluebottom {
  height: 50px;
  background-color: #1989B2;
  clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
}

.bluetop {
  height: 50px;
  background-color: #1989B2;
  clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
}

.bluesectionheader {
background-color: #1989B2;
width: 100%;
height: 280px;
color: white;
text-align: center;
}

.bluesectionheader h1 {
font-size: 1.5em;
padding-top: 70px;
}

.bluesectionheader p {
padding: 20px 0 20px 0;
}
/*-----------footer-----------*/
footer {
    width: 100%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1989B2;
    position: relative;
    bottom: 0;
    font-size: 10px;
     display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
footer div{
  display: flex;
flex-direction: column;
padding-top: 5%;
    width: 35%;
color: white;

    
}
h3 {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
}
h3:before{
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid white;
}

footer ul {
    list-style-type: none;
    text-align: left;
   
}

#some{
    width: 85%;
    height: 10%;
    margin: auto;
      background-color: #1989B2;
    border-top: white solid 2px;
}
<<<<<<< HEAD
#some i{
    padding-top: 1px;
    padding-bottom: 10px;
    position: relative;
    right: 33%;
}
#some img{
    width: 90px;
    position: relative;
    right: -33%;
    padding-top: 5px
}
=======


/*----------------Elementer til siden-------------*/
#ydelser {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#ydelser h3 {
  color: #1989B2;
}

#ydelser div {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
align-items: center;
max-width: 90%;

}

#ydelser img {
  padding: 10px;
  width: 200px;
  height: 200px;
}





>>>>>>> master
/*------------------------TABLET----------------------------*/
@media screen and (min-width: 768px) {
#calltoa {
  display: flex;
}
#burgermenu {
  display: none;
}

.mobileMenu {
  display: flex;
  background-color: inherit;
    clip-path: 0;
    padding: 5px;
    width: 40%;
    align-items: flex-start;
}
#hideshow {
  display: none;
}

}



/*---------------------------DESKTOP-------------------------*/
@media screen and (min-width: 1024px) {
#calltoa {
  display: flex;
}
#burgermenu {
  display: none;
}

.mobileMenu {
  display: flex;
  background-color: inherit;
    clip-path: 0;
}

#hideshow {
  display: none;
}

}
